

@keyframes word {
    0% {
      transform: translateY(100%);
    }
    15% {
      transform: translateY(-10%);
      animation-timing-function: ease-out;
    }
    20% {
      transform: translateY(0);
    }
    40%,
    100% {
      transform: translateY(-110%);
    }
  }
  
  .animate-word {
    animation: word 7s infinite;
  }
  
  .animate-word-delay-1 {
    animation: word 7s infinite;
    animation-delay: -1.4s;
  }
  
  .animate-word-delay-2 {
    animation: word 7s infinite;
    animation-delay: -2.8s;
  }
  
  .animate-word-delay-3 {
    animation: word 7s infinite;
    animation-delay: -4.2s;
  }
  
  .animate-word-delay-4 {
    animation: word 7s infinite;
    animation-delay: -5.6s;
  }
 



.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}



.fixed-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px;
  z-index: 999;
}

/* Style for the data to be shown */
.data {
  margin-top: 50px; /* Adjust this value to give space below fixed div */
  padding: 20px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  display: none; /* Initially hidden */
}



.icon:hover {
  transform: scale(1.2);
}











/* Header.css */

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, #ddf9fd, #0400ff);
}

/* Optional: Dark mode styles */
.dark .text-transparent {
  color: transparent;
}

.dark .text-red-500 {
  color: #da0000;
}



